
h2{
  text-align: center;
}
li {
 
  list-style: none;
  padding: 5px;
}
.contenedor{
  display:flex;
  margin:25px;
}
.card{
  border-radius: 15px;
  margin-left: 20px;
  background-color: rgba(12, 250, 36, 0.651);
  width: 250px;
}
.card2{
  border-radius: 15px;
  margin-left: 20px;
  background-color: rgb(238, 77, 77);
  width: 250px;
}
.card3{
  border-radius: 15px;
  margin-left: 20px;
  background-color: rgb(167, 190, 211);
  width: 250px;
}
.card4{
  border-radius: 15px;
  margin-left: 20px;
  background-color: rgb(226, 184, 205);
  width: 250px;
}
.card5{
  border-radius: 15px;
  margin-left: 20px;
  background-color: rgb(229, 240, 130);
  width: 250px;
}