
h2{
  text-align: center;
}
li {
 
  list-style: none;
  padding: 5px;
}
.contenedor{
  display:flex;
  margin:25px;
}
.card{
  border-radius: 15px;
  margin-left: 20px;
  background-color: rgba(12, 250, 36, 0.651);
  box-shadow: 1px 2px 15px 0px rgba(12, 250, 36, 0.651);
  width: 250px;
}
#tomato{
  background-color:tomato;
  box-shadow: 1px 2px 15px 0px tomato;
}
#royalblue{
  background-color:royalblue;
  box-shadow: 1px 2px 15px 0px royalblue;
}
#pink{
  background-color:rgb(214, 164, 214);
  box-shadow: 1px 2px 15px 0px palevioletred;
}
#yellowgreen{
  background-color:yellowgreen;
  box-shadow: 1px 2px 15px 0px yellowgreen;
}